body {
  background-color: yellow;
}
main {
  min-height: 100vh !important;
}
.gradient {
  background: linear-gradient(135deg, red 30%, blue) !important;
  background-size: 400% 400% !important;
  background-position: 40% !important;
  transition: 300ms;
}

.gradient:hover {
  /* background: linear-gradient(135deg, blue, red) !important; */
  background-position: 80% !important;
  cursor: pointer;
}
